graft slotty/*
include README.md requirements.txt
recursive-include . *.txt *.py
recursive-exclude . *.zip *.tar.gz *.log
recursive-exclude . *.egg 
exclude testreport*.xml *.cov .coverage
exclude .settings
exclude  coverage*
prune doc 
prune build 
prune dist
